/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Header y navegación */
header {
    background-color: #2c3e50;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2em;
}

nav ul {
    list-style: none;
    padding: 10px 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Sección de Introducción */
.intro-section {
    background-color: #ffffff;
    padding: 40px 0;
    text-align: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.intro-section h2 {
    font-size: 2em;
    color: #2c3e50;
}

.intro-section p {
    font-size: 1.1em;
    color: #555;
    margin-top: 10px;
}

/* Sección de Contacto */
.contact-section {
    background-color: #ffffff;
    padding: 40px 0;
    text-align: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.contact-section form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-section label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-section input,
.contact-section textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-section button {
    background-color: #2c3e50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-section button:hover {
    background-color: #34495e;
}

/* Sección de Portafolio */
.portfolio-section {
    background-color: #ffffff;
    padding: 40px 0;
    text-align: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-card {
    background-color: #ecf0f1;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    margin: 10px;
    text-align: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.project-card h3 {
    color: #2c3e50;
}

.project-card p {
    color: #555;
}

/* Footer */
footer {
    background-color: #2c3e50;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 0.9em;
} 


/* Estilo para el enlace de LinkedIn */
.linkedin {
    margin-top: 20px;
}

.linkedin-link {
    display: inline-block;
    background-color: #0077b5; /* Color de LinkedIn */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.linkedin-link:hover {
    background-color: #005582; /* Color cuando se pasa el cursor */
}
